/*
 * Layout.
 *
 * This file contains all styles related to the layout component.
 */

.layout {

  // layout-maxWidth740
  &-maxWidth740 {
    max-width: 740px;
  }

  // layout-content
  &-content {
    padding: 3rem 0;
  }

  // layout-content--t-padding100
  &-content--t-padding100 {
    padding-top: 100px;
  }

  // layout-page
  &-page {
    &:last-child {
      @include divider-border-solid;
    }
  }

  // layout-nav
  &-nav {
    @include clearfix;
  }
}
