/*
 * Syntax highlighting.
 *
 * This file contains all styles related to the syntax highlighting component.
 */

// inline code
code {
  color: $code-inline-color-text;
  font-size: 0.8em;
  margin: 0 !important;
  padding: 0 0.4em;
}

// code blocks
.highlighter-rouge {
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;

  @include breakpoint(mobile) {
    margin: 1.6em -1em;
  }

  pre {
    position: relative;

    code {
      border-radius: 2px;
      display: block;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      padding: 1.25em;

      @include breakpoint(mobile) {
        padding: 1.2em;
      }
    }
  }
}
