---
layout: page
title: Categories
permalink: /categories/
---

{% for post in site.posts %}
  {% assign c = post.categories | join: "," %}
  {% if c != "" %}
    {% capture categories %}{{categories}},{{c}}{% endcapture %}
  {% endif %}
{% endfor %}

{% assign categories = categories | split: "," | uniq | sort: self %}
{% assign catobjs = site.categories | sort: "tag" %}

<div class="l-categories">
{% for category in catobjs %}
  {% for cat in categories %}
  {% comment %} matching for tag and category {% endcomment %}
    {% if cat == category.tag %}
      <h1 class="post-title"><a href="{{ category.url }}">{{ category.title }}</a></h1>
    {% endif %}
   {% endfor %}
{% endfor %}
</div>