<ul class="list-style--none padding--none">
  {% if site.footer-links.dribbble %}
  <li class="social-link">
    <a href="https://dribbble.com/{{ site.footer-links.dribbble }}" class="btn-social">
        <span class="ion-social-dribbble"></span>
      </a>
  </li>
  {% endif %} 
  {% if site.footer-links.facebook %}
  <li class="social-link">
    <a href="https://www.facebook.com/{{ site.footer-links.facebook }}" class="btn-social">
        <span class="ion-social-facebook-outline"></span>
      </a>
  </li>
  {% endif %}
  {% if site.footer-links.linkedin %}
  <li class="social-link">
    <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" class="btn-social">
        <span class="ion-social-linkedin-outline"></span>
      </a>
  </li>
  {% endif %} 
  {% if site.footer-links.pinterest %}
  <li class="social-link">
    <a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" class="btn-social">
        <span class="ion-social-pinterest"></span>
      </a>
  </li>
  {% endif %} 
  {% if site.footer-links.rss %}
  <li class="social-link">
    <a href="{{ site.baseurl }}/feed.xml">
        <span class="ion-social-rss"></span>
      </a>
  </li>
  {% endif %} 
  {% if site.footer-links.twitter %}
  <li class="social-link">
    <a href="https://www.twitter.com/{{ site.footer-links.twitter }}" class="btn-social">
        <span class="ion-social-twitter-outline"></span>
      </a>
  </li>
  {% endif %} 
  {% if site.footer-links.youtube %}
  <li class="social-link">
    <a href="https://youtube.com/{{ site.footer-links.youtube }}" class="btn-social">
        <span class="ion-social-youtube"></span>
      </a>
  </li>
  {% endif %} 
  {% if site.footer-links.googleplus %}
  <li class="social-link">
    <a href="https://plus.google.com/{{ site.footer-links.googleplus }}" class="btn-social">
        <span class="ion-social-googleplus-outline"></span>
      </a>
  </li>
  {% endif %} 
  {% if site.footer-links.github %}
  <li class="social-link">
    <a href="https://github.com/{{ site.footer-links.github }}" class="btn-social">
        <span class="ion-social-github"></span>
      </a>
  </li>
  {% endif %} 
  {% if site.footer-links.instagram %}
  <li class="social-link">
    <a href="https://instagram.com/{{ site.footer-links.instagram }}" class="btn-social">
        <span class="ion-social-instagram-outline"></span>
      </a>
  </li>
  {% endif %}
</ul>
