<ul class="site-footer">
  {% if site.footer-links.dribbble %}
  <li>
    <a href="https://dribbble.com/{{ site.footer-links.dribbble }}">
        <span class="ion-social-dribbble"></span>
      </a>
  </li>
  {% endif %} {% if site.footer-links.facebook %}
  <li>
    <a href="https://www.facebook.com/{{ site.footer-links.facebook }}">
        <span class="ion-social-facebook-outline"></span>
      </a>
  </li>
  {% endif %} {% if site.footer-links.linkedin %}
  <li>
    <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
        <span class="ion-social-linkedin-outline"></span>
      </a>
  </li>
  {% endif %} {% if site.footer-links.pinterest %}
  <li>
    <a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">
        <span class="ion-social-pinterest"></span>
      </a>
  </li>
  {% endif %} {% if site.footer-links.rss %}
  <li>
    <a href="{{ site.baseurl }}/feed.xml">
        <span class="ion-social-rss"></span>
      </a>
  </li>
  {% endif %} {% if site.footer-links.twitter %}
  <li>
    <a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
        <span class="ion-social-twitter-outline"></span>
      </a>
  </li>
  {% endif %} {% if site.footer-links.youtube %}
  <li>
    <a href="https://youtube.com/{{ site.footer-links.youtube }}">
        <span class="ion-social-youtube"></span>
      </a>
  </li>
  {% endif %} {% if site.footer-links.googleplus %}
  <li>
    <a href="https://plus.google.com/{{ site.footer-links.googleplus }}">
        <span class="ion-social-googleplus-outline"></span>
      </a>
  </li>
  {% endif %} {% if site.footer-links.github %}
  <li>
    <a href="https://github.com/{{ site.footer-links.github }}">
        <span class="ion-social-github"></span>
      </a>
  </li>
  {% endif %} {% if site.footer-links.instagram %}
  <li>
    <a href="https://instagram.com/{{ site.footer-links.instagram }}">
        <span class="ion-social-instagram-outline"></span>
      </a>
  </li>
  {% endif %}
</ul>