<svg class="svg-logo" height="70" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" fill-rule="evenodd">
    <rect class="svg-logo-primary-color" x="43" y="31" width="6" height="3" rx="1.5" />
    <rect class="svg-logo-dark-color" x="26" y="31" width="14" height="3" rx="1.5" />
    <rect class="svg-logo-light-color" x="32" y="22" width="6" height="3" rx="1.5" />
    <rect class="svg-logo-primary-color" x="26" y="22" width="3" height="3" rx="1.5" />
    <rect class="svg-logo-dark-color" x="37" y="39" width="3" height="3" rx="1.5" />
    <rect class="svg-logo-light-color" x="26" y="39" width="8" height="3" rx="1.5" />
    <rect class="svg-logo-light-color" x="43" y="39" width="6" height="3" rx="1.5" />
    <rect class="svg-logo-dark-color" x="37" y="48" width="11" height="3" rx="1.5" />
    <rect class="svg-logo-primary-color" x="26" y="48" width="6" height="3" rx="1.5" />
    <path class="svg-logo-outline-color" d="M45 8H13v58h48V23h-4v39H17.004V12h28.003L45 23h16" />
  </g>
</svg>
