/**
 * Helpers.
 *
 * This file contains CSS helper classes.
 */

#content {
  background-color: $content-background-color;
}

/**
 * Styling.
 */

// removing default bullets
.list-style-none {
  list-style: none;
}

/**
 * Divider.
 */

.divider {

  // divider-middot
  &-middot {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &::after {
      content: '\00B7';
    }
  }

  // divider-border
  &-border {
    @include divider-border-solid;
  }
}

/**
 * Clickable links in HTML.
 */

.link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  // link--bold
  &--bold {
    font-weight: 700;
  }

  // link--gray-darker
  &--gray-darker {
    color: $color-gray-dark;
  }
}
