/**
 * Posts.
 *
 * This file contains styles that are specific to the posts page.
 */

.post {

  // post-title
  &-title {
    font-size: 2.6rem;
    margin: 0;
  }

  // post-title--small
  &-title--small {
    font-size: 1.8rem;

    @include breakpoint(tab-port) {
      font-size: 2.2rem;
    }

    @include breakpoint(mobile) {
      font-size: 2rem;
    }
  }

  // post-meta
  &-meta {
    color: $color-gray-dark;
    display: block;
    padding-bottom: 2.4rem;
  }

  // post-meta--small
  &-meta--small {
    font-size: 1.3rem;

    @include breakpoint(tab-port) {
      font-size: 1.6rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.5rem;
    }
  }

  // post-content
  &-content {
    font-size: $default-font-size;

    @include breakpoint(desktop) {
      font-size: 1.4rem;
    }

    @include breakpoint(tab-port) {
      font-size: 1.7rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.75rem;
    }

    // post-content--gray
    &--gray {
      color: $color-gray;
    }
  }
}

/**
 * Author.
 */

.author {

  // author-meta
  &-meta {
    color: $color-gray-dark;
    display: block;
    font-size: 1.2rem;
    padding: 0.8rem 0 2.4rem;

    @include breakpoint(tab-land) {
      font-size: 1.3rem;
    }

    @include breakpoint(tab-port) {
      font-size: 1.5rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.5rem;
    }
  }

  // author-thumb
  &-thumb {
    border-radius: 100%;
    height: 2.6rem;
    margin: 0 0.8rem 0 0;
    vertical-align: middle;
    width: 2.6rem;
  }
}
