
// VARIABLES
// 
//

//
// Typography 
//

$helvetica                    : Helvetica, Arial, sans-serif;
$helveticaneue                : 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$georgia                      : Georgia, serif;

$consolas                     : Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$merriweather                 : 'Merriweather', Verdana, serif;
$quattrocento                 : 'Quattrocento Sans', sans-serif;
$sourcesanspro                : 'Source Code Pro', 'Courier New', monospace;
$roboto                       : Roboto, Helvetica, Arial, sans-serif;

$global-font-family           : $roboto;
$header-font-family           : $roboto;
$masthead-font-family         : $merriweather;
$post-meta-font-family        : $roboto; // .author-post .post-meta
$code-font-family             : $consolas;

// 
// Colors
//

$black                        : #222;
$white                        : #fff;
$gray                         : #7a8288;
$dark-gray                    : mix($black, $gray, 40%);
$darker-gray                  : mix($black, $gray, 60%);
$light-gray                   : mix($white, $gray, 50%);
$lighter-gray                 : mix($white, $gray, 90%);

$body-color                   : #fff;
$masthead-background-color    : $dark-gray;
$code-background-color        : $lighter-gray;
$selection-background-color   : $light-gray;

$text-color                   : $darker-gray;
$site-name-color              : #fff;
$site-description-color       : $gray;
$selection-text-color         : $dark-gray;

$primary-color                : #fff; // in progress..
$info-color                   : #05bf85; // previous <- #10AFF2
$code-color                   : $black; // previous <- #f92672

// links //

$link-color                   : $info-color;
$link-color-hover             : mix($black, $link-color, 25%);
$link-color-visited           : mix($white, $link-color, 25%);
$masthead-link-color          : #fff;
$masthead-link-color-active   : $info-color;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}