// This file contains all styles related to the syntax highlighter component.

// Inline code
code {
  font-size: 1rem;
  margin: 0 !important;
  padding: 0 .5rem;
}

// Code blocks
.highlighter-rouge {
  @include mobile {
    margin: 1.6rem -1rem;
  }
  background: $code-background-color;
  border-radius: .2rem;
  color: $code-color;
  font-family: $code-font-family;
  font-size: 1.5rem;

  pre {
    position: relative;

    code {
      @include mobile {
        padding: 1rem;
      }
      -webkit-overflow-scrolling: touch;
      border-radius: .2rem;
      display: block;
      overflow-x: scroll;
      padding: 1.6rem;
    }
  }
}
