// This file contains all application-wide Sass mixins.

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Divider border (dotted)
@mixin divider-border-dotted {
  border-bottom: .1rem dotted $color-grey-lighter;
  margin: 2.8rem 0;
  padding: 0 0 2.8rem;
}

// Links
@mixin link-colors ($link, $visited, $hover, $active) {
  color: $link;

  &:visited {
    color: $visited;
  }

  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}

// Horizontal gradient, from left to right
@mixin gradient-horizontal($start-color, $end-color) {
  background: $start-color; // fallback for old browsers
  background: -webkit-linear-gradient(to right, $start-color, $end-color); // Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, $start-color, $end-color); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
}
