/**
 * Typography
 */

body {
  background: $body-background-color;
  color: $text-color;
  font-family: $global-font-family;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 1.47;
  text-rendering: optimizeLegibility;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  @include mobile {
    line-height: 1.4;
  }
  color: $header-color;
  font-family: $header-font-family;
  font-weight: bold;
  line-height: 1.7;
  margin: 1.5rem 0;
  padding: 0;
}

h1 { font-size: 3rem; a { color: inherit; } }             // 30px
h2 { font-size: 2.4rem; a { text-decoration: none; } }    // 24px
h3 { font-size: 2rem; }                                   // 20px
h4 { font-size: 1.8rem; }                                 // 18px

// Blockquotes
blockquote {
  border-left: .2rem solid $blockquote-border-color;
  color: $blockquote-text-color;
  font-size: 1.4rem;
  margin: 1.5rem 0;
  padding: 0 0 0 1.5rem;
}

.font {
  &-bold {
    font-weight: 700;
    color: $color-grey-darker;
  }
}
