// This file contains styles that are specific to the archives page.

// Archives components
.archives {

  // archives-offset20
  &-offset {
    border-left: .2rem solid $color-grey-lighter;
    margin-left: 2rem;
    padding-left: 3rem;

    &:last-child {
      border-left: 0;
    }
  }

  // archives-date
  &-date {
    border-radius: .2rem;
    display: inline-block;
    margin: 3rem 0 1.2rem;
    padding: 0 .5rem;
  }

  // archives-date-yyyy
  &-date-yyyy {
    color: $color-grey;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: .8rem 0;
    text-align: center;
  }
}





