.header {
  font-family: $global-font-family;
}

.counter {
  background: $color-grey-dark;
  border-radius: 2rem;
  color: $color-grey-lighter;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  padding: .2rem .5rem;
}
