// Button
//
// This file contains all styles related to the button component.

.btn {
  background: $btn-background-color;
  border-radius: 2px;
  color: $btn-color-text;
  display: inline-block;
  margin: 0 0.4rem 0 0;
  padding: 0.6rem 0.8rem;
  text-decoration: none;

  // btn-read-more
  &-read-more {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    transition: color $global-transition-speed ease-in, background-color $global-transition-speed ease-in;

    @include breakpoint(tab-port) {
      font-size: 1.4rem;
      letter-spacing: 0.04em;
    }

    @include breakpoint(mobile) {
      font-size: 1.5rem;
      letter-spacing: 0.03em;
    }
  }

  // btn--green
  &--green {
    background: $btn-color-green;
    box-shadow: inset 0 -2px rgba($color-gray, 0.4);
    color: $btn-color-text;

    &:hover {
      background-color: darken($btn-color-green, 2%);
    }

    &:active {
      background-color: darken($btn-color-green, 5%);
      box-shadow: none;
      color: tint($btn-color-green, 90%);
      transform: scale(0.95);
    }
  }
}
