// This file contains all styles related to the button component.

.btn {
  -webkit-transition: background-color $global-transition-speed linear;
  background: $btn-background-color;
  border-bottom: .2rem solid $btn-border;
  border-radius: .2rem;
  color: $btn-color;
  display: inline-block;
  font-size: $default-font-size;
  font-weight: normal;
  margin: 0 .4rem 0 0;
  padding: .4rem .6rem;
  text-decoration: none;
  transition: background-color $global-transition-speed linear;

  &:hover {
    background: $btn-border;
    color: $btn-color;
  }

  &:active {
    -webkit-transform: translate(0, .1rem);
    border-bottom: .2rem solid $btn-border;
    transform: translate(0, .1rem);
  }

  // btn-social
  &-social {
    @include link-colors(
      $link: $socials-color-link,
      $visited: $socials-color-visited,
      $hover: $socials-color-hover,
      $active: $socials-color-active
    );
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
}
