.site-footer {
  margin-top: 50px;
  padding: 20px;
  text-align: center;

  p {
    color: $gray;
    font-size: 14px;
    font-weight: 100;
  }

  // Social media icons styling
  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }

    a {
      @include link-colors(
        $link: $socials-color-link,
        $visited: $socials-color-visited,
        $hover: $socials-color-hover,
        $active: $socials-color-active
        );

      font-size: 18px;
    }
  }
}
