.header {
  font-family: $global-font-family;
  letter-spacing: .7px;
  width: 100%;

  .container {
    padding: 0;
  }
}

.nav-image {
  float: left;
  padding: 14px 10px;
}

.avatar {
  border-radius: 50%;
  float: left;
  height: 26px;
  width: 26px;
}

.counter {
  background: $info-color;
  border-radius: 20px;
  color: $lighter-gray;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 2px 5px;
}
