// Icon
//
// This file contains all styles related to the icon component.

// Class name `social-icons`.
.social-icons {
  text-align: center;

  &:first-child {
    margin-left: 0;
  }

  // Class name `social-icons--icon`.
  &--icon {
    background-color: $social-background-color;
    border-radius: 50%;
    color: $social-color-icon;
    display: inline-block;
    height: 30px;
    position: relative;
    width: 30px;

    // Class name `icon`.
    .icon {
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: color .3s ease-in-out;
      width: 16px;
    }
  }
}
