// Layout
//
// This file contains all styles related to the layout component.

.layout {

  // Class name `layout-maxWidth740`.
  &-maxWidth740 {
    max-width: 740px;
  }

  // Class name `layout-content`.
  &-content {
    padding: 3rem 0;
  }

  // Class name `layout-content--t-padding100`.
  &-content--t-padding100 {
    padding-top: 100px;
  }

  // Class name `layout-page`.
  &-page {
    &:last-child {
      @include divider-border-solid;
    }
  }

  // Class name `layout-nav`.
  &-nav {
    @include clearfix;
  }
}
