nav {
  @include mobile {
    display: block;
    float: none;
    font-size: 16px;
    margin-top: 9px;
  }

  float: right;
  font-family: $global-font-family;
  font-size: 18px;
  margin-top: 20px;

  a {
    @include mobile {
      color: $masthead-link-color;
      display: inline-block;
      padding: 20px 20px 20px 0;
    }

    color: $masthead-link-color;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 20px 20px 10px 0;

    &:last-child {
      padding-right: 0;

      &::after {
        width: 100%;
      }
    }
  }
}

.current {
  position: relative;

  &::after {
    background: $masthead-link-color-active;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    width: calc(100% - 20px);
  }
}
