nav {
  @include mobile {
    display: block;
    float: none;
    font-size: 16px;
    margin-top: 9px;
  }
  float: right;
  font-family: $global-font-family;
  font-size: 18px;
  margin-top: 20px;

  a {
    @include mobile {
      color: $masthead-link-color;
      padding-bottom: 10px;
    }
    color: $masthead-link-color;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 20px;
    text-align: right;
    display: inline-block;
  }
}

.current {
  border-bottom: 3px solid $masthead-link-color-active;
}
