blockquote {
  border-left: .2em solid $blockquote-border-color;
  color: $blockquote-text-color;
  font-size: .9em;
  margin: 1em 0;
  padding: 0 0 0 1.2em;
}

.post-meta {
  font-family: $post-meta-font-family;
  font-size: .8rem;
  margin-bottom: 1.5rem;
}

.post-meta-archives {
  display: block;
  font-family: $post-meta-font-family;
  font-size: .8rem;
}

.author-thumb {
  border-radius: 100%;
  // float: left;
  height: 26px;
  margin: 0 8px 0 0;
  vertical-align: middle;
  width: 26px;
}

.post-meta-date {
  display: block;
  font-family: $post-meta-font-family;
  font-size: .8rem;
  // margin-bottom: 1.5rem;
}

.author-meta {
  margin: 8px 0 24px;
}

.small {
  display: inline-block;
  color: $dark-gray;
}

.btn {
  -webkit-transition: background-color $global-transition-speed linear;
  background: $btn-background-color;
  border-bottom: 2px solid $btn-border;
  border-radius: .2em;
  color: $btn-color;
  display: inline-block;
  font-weight: normal;
  margin: 0 .4em 0 0;
  padding: .4em .6em;
  text-decoration: none;
  transition: background-color $global-transition-speed linear;

  &:hover {
    background: $btn-border;
    color: $btn-color;
  }

  &:active {
    -webkit-transform: translate(0, .1em);
    border-bottom: 2px solid $btn-border;
    transform: translate(0, .1em);
  }
}
