.site-posts > .author-post {
  // Add border bottom for posts
  border-bottom: 1px dotted $lighter-gray;
  padding-bottom: 2em;

  &:last-child {
    // Add border bottom for Post last child
    border-bottom: 1px dotted $lighter-gray;
    padding-bottom: 2rem;
  }
}

.site-archives > ul > .author-post {
  // Add border bottom for archives
  border-bottom: 1px dotted $lighter-gray;
  padding-bottom: 2em;
}

.site-index > .author-post {
  // Add border bottom for categories index
  border-bottom: 1px dotted $lighter-gray;
  padding-bottom: 2em;
}

.site-archives {
  ul {
    list-style-type: none;
  }
}

.post-meta {
  color: $light-gray;
  display: block;
  font-family: $post-meta-font-family;
  font-size: .8rem;
  margin-bottom: 1.5rem;
}

.post-meta-archives {
  color: $light-gray;
  display: block;
  font-family: $post-meta-font-family;
  font-size: .8rem;
}

.author-post {
  h1 {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;
  }

  blockquote {
    border-left: .2em solid $light-gray;
    color: $gray;
    font-size: .9em;
    margin: 1em 0;
    padding: 0 0 0 1.2em;
  }

  .comments {
    margin-top: 10px;
  }
}

.author-thumb {
  border-radius: 100%;
  float: left;
  height: 26px;
  margin-right: 9px;
  width: 26px;
}

.post-meta-date {
  color: $darker-gray;
  display: block;
  font-family: $post-meta-font-family;
  font-size: .8rem;
  margin-bottom: 1.5rem;
}

.small {
  color: $darker-gray;
  display: inline-block;
}

.read-more {
  -webkit-transition: background-color $global-transition-speed linear;
  background: $link-color;
  border-bottom: 2px solid $link-color-hover;
  border-radius: .1em;
  color: $link-text-color;
  display: inline-block;
  margin: 0 .4em 0 0;
  padding: .4em .6em;
  text-decoration: none;
  transition: background-color $global-transition-speed linear;

  &:hover {
    background: $link-color-hover;
    color: $link-text-color;
  }

  &:active {
    -webkit-transform: translate(0, .1em);
    border-bottom: 2px solid $link-color-visited;
    transform: translate(0, .1em);
  }
}
