.svg-logo {
  height: 70px;
  margin: 0;
  width: 70px;
}

svg {
  display: block;
  margin-bottom: 1.75em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.75em;

  // Logo svg colors
  .svg-logo-outline-color {
    fill: $gray;
    transition: fill $global-transition-speed linear;

    &:hover {
      fill: $info-color;
    }
  }

  .svg-logo-primary-color {
    fill: $info-color;

    &:hover {
      fill: $info-color;
    }
  }

  .svg-logo-dark-color {
    fill: $gray;

    &:hover {
      fill: $info-color;
    }
  }

  .svg-logo-light-color {
    fill: $light-gray;

    &:hover {
      fill: $info-color;
    }
  }
}
