pre.highlight {
  font-size: .6875em;
  overflow: auto;
  padding: 1em 0;
}

code {
  background: $code-background-color;
  border-radius: .3em;
  color: $code-color;
  margin: 0 !important;
  padding: 0 .4em;
}

.highlighter-rouge {
  @include mobile {
    margin: 1rem -1rem;
  }
  color: $code-color;
  font-family: $code-font-family;
}
