// This file contains all styles related to the syntax highlighter component.

// Inline code
code {
  font-size: .8em;
  margin: 0 !important;
  padding: 0 .4em;
  background: $code-inline-background-color;
  color: $code-inline-color-text;
}

// Code blocks
.highlighter-rouge {
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;

  @include breakpoint(mobile) {
    margin: 1.6em -1em;
  }

  pre {
    position: relative;

    code {
      -webkit-overflow-scrolling: touch;
      border-radius: 2px;
      display: block;
      overflow-x: scroll;
      padding: 1.25em;

      @include breakpoint(mobile) {
        padding: 1.2em;
      }
    }
  }
}
