// This file contains all styles, small components, all kind of specific modules.
// Then later sorting through correct partial files.

#content {
  background-color: $content-color-background;
}

//
// Styling components
//

// Removing default bullets
.list-style-none {
  list-style: none;
}

//
// Divider components
//

.divider {

  // divider-middot
  &-middot {
    padding-left: .5rem;
    padding-right: .5rem;

    &::after {
      content: '\00B7';
    }
  }

  // divider-border
  &-border {
    @include divider-border-solid;
  }
}

// Link components
.link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  // link--bold modifier
  &--bold {
    font-weight: 700;
  }

  // link--grey-darker modifier
  &--grey-darker {
    color: $color-grey-dark;
  }
}
