// Remove underline from hyperlinks
article {
  a {
    text-decoration: none;
  }
}

// Offset posts from archives page
.site-archives {
  article {
    margin-left: 2rem;
  }
}

// Border-bottom styling to certain pages
.content {
  background-color: $content-background-color;
  padding: 10rem 1.5rem;

  > article {
    @include divider-border-dotted;
  }

  .hentry {
    @include divider-border-dotted;
  }

  .site-posts {
    article {
      @include divider-border-dotted;
    }
  }

  .site-index {
    article {
      @include divider-border-dotted;
    }
  }
}

.divider {
  &-middot {
    padding-left: .5rem;
    padding-right: .5rem;

    &::after {
      content: '\00B7';
    }
  }
}

// Remove padding
.padding {
  // padding-none
  &-none {
    padding: 0;
  }
}

// Removing their default bullets
.list-style {
  // list-style-none
  &-none {
    list-style: none;
  }
}
