--- 
layout: default 
---

<article role="article">
  <h1>Archives</h1>
  <div class="l-archives">
    {%for post in site.posts %}
      {% unless post.next %}
      <div class="archives-date">
        <h2 class="archives-date-yyyy">{{ post.date | date: '%Y' }}</h2>
      </div>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
        <div class="archives-date">
          <h2 class="archives-date-yyyy">{{ post.date | date: '%Y' }}</h2>
        </div>
        {% endif %} 
      {% endunless %}
      <article class="archives-offset">
          <h1 class="post-title post-title-small">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h1>
          <small class="post-meta">
            <span class="datetime">{% include post-date.html %}</span><span class="divider-middot"></span>posted in {% include post-categories.html %}
          </small>
      </article>
    {% endfor %}
  </div>
</article>