--- 
layout: default 
---

<div class="site-archives">
  <h2>2017</h2>
  {%for post in site.posts %} {% unless post.next %}
  <ul>
    {% else %} {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} {% capture nyear %}{{ post.next.date | date: '%Y'
    }}{% endcapture %} {% if year != nyear %}
  </ul>
  <h3>{{ post.date | date: '%Y' }}</h3>
  <ul>
    {% endif %} {% endunless %}
    <div class="author-post">
      <h1 class="entry-title">
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      </h1>
      <small class="small post-meta-archives"> 
    <time>{% include post-date.html %}</time> posted in {% include post-categories.html %}   
  </small>
    </div>
    {% endfor %}
  </ul>
</div>