<!DOCTYPE html>
<html>

  {% include site-head.html %}

  <body>
    <header class="header">
      <div class="container l-nav l-maxWidth740">
        {% include navigation.html %}
      </div>
    </header>
    <div id="content" class="container l-maxWidth740" role="main">
      <div class="l-content l-content--t-padding100">
        {{ content }}
      </div>
    </div>
    <footer class="footer l-content l-maxWidth740">
      {% include icons.html %}
      {% include site-footer.html %}
    </footer>
    {% include scripts.html %}
  </body>

</html>