<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

  {% include site-meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  {% include preload.html %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} | {{ site.description }}" href="{{ site.baseurl }}/feed.xml"
  />
</head>
<body>
  <div class="site-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <a href="{{ site.baseurl }}/" class="site-avatar">{% include site-logo.html %}</a>
        <div class="site-info">
          <h1 class="site-name">
            <a href="{{ site.baseurl }}/">{{ site.name }}</a>
          </h1>
        </div>
        {% include navigation.html %}
      </header>
    </div>
  </div>
  <div id="main" role="main" class="container">
    <div class="content">
      {{ content }}
    </div>
  </div>
  <footer class="site-footer">
    <div class="container">
      {% include icons.html %} 
      {% include site-footer.html %}
    </div>
  </footer>
  {% include vendor-lazysizes.html %} 
  {% include vendor-prism.html %}
</body>

</html>