<!DOCTYPE html>
<html>

  {% include site-head.html %}

  <body>
    <header class="header">
      <div class="container layout-nav layout-maxWidth740">
        {% include navigation.html %}
      </div>
    </header>
    <div id="content" class="container layout-maxWidth740" role="main">
      <div class="layout-content layout-content--t-padding100">
        {{ content }}
      </div>
    </div>
    <footer class="footer layout-content layout-maxWidth740">
      {% include icons.html %}
      {% include site-footer.html %}
    </footer>
    {% include scripts.html %}
  </body>

</html>