// This file contains all styles related to the footer of the site/application.

.footer {
  background-color: $footer-color-background;
  color: $footer-color-text;
  margin: 0 auto;
  text-align: center;

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  // footer--l-padding-none
  &--l-padding-none {
    padding-left: 0;
  }

  // footer--b-padding
  &--b-padding {
    padding-bottom: .7rem;
  }
}

// social-media-links
.social-media-links {
  display: inline-block;
  margin-left: 3em;

  &:first-child {
    margin-left: 0;
  }
}
