// This file contains all styles related to the footer of the site/application.

.footer {
  background-color: $footer-color-background;
  color: $footer-color-text;
  margin: 0 auto;
  text-align: center;

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.social {
  // social-link
  &-link {
    display: inline-block;
    font-size: 2rem;
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }
  }
}
