// This file contains all styles related to the footer of the site/application.

.footer {
  background-color: $body-background-color;
  color: $color-grey;
  margin: 0 auto;
  text-align: center;

  // footer-copyright
  &-copyright {
    font-size: 1.2rem;
    font-weight: normal;
  }
}

.social {
  // social-link
  &-link {
    display: inline-block;
    font-size: 2rem;
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }
  }
}
