// Header
//
// This file contains all styles related to the header of the site/application.

@viewport { width: device-width; }

//
// RESPONSIVE NAV STYLES
//

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none;
}

@media screen and (min-width: 37.5em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

//
//  FIXED HEADER
//

.header {
  background-color: $nav-background-color;
  font-family: $global-font-family;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;

  @include breakpoint(mobile) {
    position: absolute;
  }
}

.logo {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: $nav-color-text;
  text-decoration: none;
  padding-right: 1.7rem;
  font-weight: 700;
  font-size: 1.5rem;
  float: left;
  letter-spacing: 0.5px;
  transform: translateY(50%);

  @include breakpoint(desktop) {
    font-size: 1.4rem;
  }

  @include breakpoint(tab-land) {
    font-size: 1.7rem;
  }

  @include breakpoint(tab-port) {
    font-size: 1.9rem;
  }

  &::before {
    background: url('/assets/images/16827429.jpeg') center left no-repeat;
    background-size: 26px 26px;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 26px;
    margin: 0 10px 2px 0;
    vertical-align: middle;
    width: 26px;
  }
}

.counter {
  background: $color-grey-dark;
  border-radius: 20px;
  color: inherit;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.2rem 0.5rem;

  @include breakpoint(desktop) {
    font-size: 1.1rem;
    padding: 0.2rem 0.4rem;
  }

  @include breakpoint(tab-land) {
    font-size: 1.3rem;
  }

  @include breakpoint(tab-port) {
    font-size: $default-font-size;
  }

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    padding: 0.3rem 0.5rem;
  }
}

//
// MASK
//

.mask {
  transition: opacity 300ms;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 37.5em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}

//
// NAVIGATION STYLES
//

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

// width > 600px
@media screen and (min-width: 37.5em) {
  .nav-collapse {
    float: right;
    width: auto;
    line-height: ($nav-height-header - $nav-height-active);

    // high-light active link
    .active {
      border-bottom: $nav-height-active solid;
      border-image: linear-gradient(to right, $color-gradient-start, $color-gradient-end) 100% 0;
      color: $nav-color-active;

      &:hover {
        border-bottom: $nav-height-active solid;
        color: $nav-color-hover;
      }
    }
  }

  // width > 600px
  .nav-collapse a:hover {
    color: $nav-color-hover;
    border-bottom: $nav-height-active solid $color-grey-dark;
  }
}

// width < 600px
.nav-collapse li {

  // high-light active link
  .active {
    color: $nav-color-active;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 37.5em) {
  .nav-collapse li {
    width: auto;
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  padding: 0.7em 0.8em;
  color: $nav-color-inactive;
  width: 100%;
  float: left;
  font-size: 1.5rem;
  letter-spacing: 0.05em;

  @include breakpoint(mobile) {
    font-size: 1.9rem;
  }
}

.nav-collapse a:active,
.nav-collapse .active a {
  color: $nav-color-active;
}

.nav-collapse a:hover {
  color: $nav-color-hover;
  transition: color 0.3s ease-in-out;
}

// width > 600px
@media screen and (min-width: 37.5em) {
  .nav-collapse a {
    padding: 0 1rem;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 0.05em;

    @include breakpoint(desktop) {
      font-size: 1.4rem;
    }

    @include breakpoint(tab-land) {
      font-size: 1.7rem;
    }

    @include breakpoint(tab-port) {
      font-size: 1.9rem;
    }
  }
}

.nav-collapse ul ul a {
  background: $nav-background-color;
  padding-left: 2em;
}

@media screen and (min-width: 37.5em) {
  .nav-collapse ul ul a {
    display: none;
  }
}

//
// NAV TOGGLE STYLES
//

.nav-toggle {
  cursor: pointer;
  float: right;
  height: $nav-height-toggle;
  margin-right: -8px;
  padding: 17px 15px;
  position: relative;
  width: 50px;

  &::before {
    background-color: $nav-color-icon;
    border-radius: 9px;
    content: '';
    height: 2px;
    position: absolute;
    top: 18px;
    transform-origin: 0 0;
    transition: transform $nav-transition-speed ease-out;
    width: 20px;
  }

  &-icon {
    background-color: $nav-color-icon;
    border-radius: 9px;
    height: 2px;
    position: absolute;
    top: 25px;
    transform-origin: 0 50%;
    transition: all $nav-transition-speed ease-in-out;
    width: 20px;
  }

  &::after {
    background-color: $nav-color-icon;
    border-radius: 9px;
    content: '';
    height: 2px;
    position: absolute;
    top: 32px;
    transform-origin: 0 50%;
    transition: transform $nav-transition-speed ease-out;
    width: 20px;
  }
}

.nav-toggle.active {

  &::before {
    transform: rotate(45deg) scaleX(1.07);
  }

  .nav-toggle-icon {
    opacity: 0;
    transform: scaleX(0);
  }

  &::after {
    transform: rotate(-45deg) scaleX(1.05) translateX(-1px);
  }
}
