// This file contains all styles related to the header of the site/application.

.header {
  font-family: $global-font-family;
}

.counter {
  background: $color-grey-dark;
  border-radius: 2rem;
  color: $color-grey-lighter;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  padding: .2rem .5rem;

  @include breakpoint(desktop) {
    font-size: 1.1rem;
    padding: .2rem .4rem;
  }

  @include breakpoint(tab-land) {
    font-size: 1.3rem;
  }

  @include breakpoint(tab-port) {
    font-size: $default-font-size;
  }

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    padding: .3rem .5rem;
  }
}
