// Helpers
//
// This file contains CSS helper classes.

#content {
  background-color: $content-background-color;
}

//
// Styling component
//

// Removing default bullets
.list-style-none {
  list-style: none;
}

//
// Divider component
//

.divider {

  // Class name `divider-middot`.
  &-middot {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &::after {
      content: '\00B7';
    }
  }

  // Class name `divider-border`.
  &-border {
    @include divider-border-solid;
  }
}

//
// Link component
//

.link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  // Class name `link--bold`.
  &--bold {
    font-weight: 700;
  }

  // Class name `link--gray-darker`.
  &--gray-darker {
    color: $color-gray-dark;
  }
}
