// Offset posts from archives page
.site-archives {
  article {
    margin-left: 20px;
  }
}

// Border-bottom styling to certain pages
.content {
  background-color: $content-background-color;
  padding: 50px 15px;

  > article {
    @include border-bottom-dotted;
  }

  .hentry {
    @include border-bottom-dotted;
  }

  .site-posts {
    article {
      @include border-bottom-dotted;
    }
  }

  .site-index {
    article {
      @include border-bottom-dotted;
    }
  }
}

.middot {
  padding-left: .3em;
  padding-right: .3em;

  &::after {
    content: '\00B7';
  }
}
