// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Divider border (dotted)
@mixin divider-border-dotted {
  border-bottom: .1rem dotted $color-grey-lighter;
  margin: 2.8rem 0;
  padding: 0 0 2.8rem;
}

// Links
@mixin link-colors ($link, $visited, $hover, $active) {
  color: $link;

  &:visited {
    color: $visited;
  }

  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}
