// This file contains all application-wide Sass mixins.

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Divider border (dotted)
@mixin divider-border-dotted {
  border-bottom: .1rem dotted $color-grey-lighter;
  padding: 2.8rem 0;
}

// Links
@mixin link-colors ($link, $visited, $hover, $active) {
  color: $link;

  &:visited {
    color: $visited;
  }

  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}

// Horizontal gradient, from left to right
@mixin gradient-horizontal($start-color, $end-color) {
  background: linear-gradient(to right, $start-color, $end-color);
}
