/**
 * Typography 
 */

$georgia                       : Georgia, serif;
$helvetica                     : Helvetica, Arial, sans-serif;
$helveticaneue                 : 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

$consolas                      : Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$merriweather                  : 'Merriweather', Verdana, serif;
$roboto                        : Roboto, Helvetica, Arial, sans-serif;

$global-font-family            : $roboto;
$header-font-family            : $roboto;
$masthead-font-family          : $merriweather;
$post-meta-font-family         : $roboto;
$code-font-family              : $consolas;


/** 
 * Colors
 */

// Shades of gray
$gray-base                     : #000;
$darker-gray                   : lighten($gray-base, 13%);   // #212
$dark-gray                     : lighten($gray-base, 26%);   // #424
$gray                          : lighten($gray-base, 38%);   // #616
$light-gray                    : lighten($gray-base, 62%);   // #9e9
$lighter-gray                  : lighten($gray-base, 93.5%); // #eee

// Font colors
$primary-color                 : #03A678;

// Background color
$body-color                    : #fff;
$masthead-background-color     : $darker-gray;
$code-background-color         : $lighter-gray;
$selection-background-color    : $light-gray;

// Text color
$text-color                    : $darker-gray;
$header-color                  : $text-color;
$site-name-color               : #fff;
$site-description-color        : $gray;
$code-color                    : $text-color;
$selection-text-color          : $darker-gray;

$info-color                    : $primary-color;

// Links
$link-color                    : $text-color;
$link-color-visited            : $darker-gray;
$link-color-hover              : $text-color;
$link-color-active             : $darker-gray;
$masthead-link-color           : #fff;
$masthead-link-color-active    : $light-gray;
$masthead-hover-color          : $light-gray;
$socials-color-link            : $light-gray;
$socials-color-visited         : $light-gray;
$socials-color-hover           : $gray;
$socials-color-active          : $gray;

// Buttons
$btn-color                     : #fff;
$btn-background-color          : $info-color;
$btn-border                    : darken($btn-background-color, 10%);

// Type
$blockquote-text-color         : $gray;
$blockquote-border-color       : $light-gray;


/**
 * Other
 */

$global-transition-speed       : .3s;
