// This file contains all application-wide Sass variables.

//
// Font stacks
//

$georgia:                                       Georgia, serif;
$helvetica:                                     Helvetica, Arial, sans-serif;
$helveticaneue:                                 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

$consolas:                                      Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$roboto:                                        'Roboto', Helvetica, Arial, sans-serif;

$global-font-family:                            $roboto;
$header-font-family:                            $roboto;
$post-meta-font-family:                         $roboto;
$code-font-family:                              $consolas;

//
// Colors
//

// Shades of gray
$color-grey-base:                               #000;
$color-grey-darker:                             lighten($color-grey-base, 13%);   // #212
$color-grey-dark:                               lighten($color-grey-base, 26%);   // #424
$color-grey:                                    lighten($color-grey-base, 38%);   // #616
$color-grey-light:                              lighten($color-grey-base, 62%);   // #9e9
$color-grey-lighter:                            lighten($color-grey-base, 93.5%); // #eee
$color-grey-lightest:                           lighten($color-grey-base, 96%);   // #f5f

// Font colors
$color-primary:                                 #03a678;
$color-secondary:                               #007acc;

// Gradient colors
$color-gradient-start:                          #fc00ff;
$color-gradient-end:                            #00dbde;

// Background colors
$body-color-background:                         #fff;
$content-color-background:                      $body-color-background;
$code-color-background:                         $color-grey-lighter;
$selection-color-background:                    $color-grey-light;
$footer-color-background:                       $content-color-background;
$terminal-window-color-background:              $color-secondary;

// Text colors
$base-color-text:                               $color-grey-darker;
$header-color-text:                             $base-color-text;
$code-color-text:                               $base-color-text;
$footer-color-text:                             $color-grey-light;
$terminal-window-color-text:                    #fff;

// Links
$link-color:                                    $base-color-text;
$link-color-visited:                            $color-grey-darker;
$link-color-hover:                              $base-color-text;
$link-color-active:                             $color-grey-darker;
$socials-color-link:                            $color-grey-light;
$socials-color-visited:                         $color-grey-light;
$socials-color-hover:                           $color-grey-dark;
$socials-color-active:                          $color-grey-dark;

// Navigation
$nav-color-text:                                #fff;
$nav-color-background:                          lighten($color-grey-base, 15%);
$nav-color-icon:                                #fff;
$nav-color-active:                              #fff;
$nav-color-inactive:                            $color-grey-light;
$nav-color-hover:                               $nav-color-active;

// Buttons
$btn-color-text:                                #fff;
$btn-color-background:                          $color-secondary;
$btn-color-green:                               $color-primary;

// Type
$blockquote-color-text:                         $color-grey;
$blockquote-color-border:                       $color-grey-light;

//
// Sizes
//

// Navigation
$nav-height-header:                             50px;
$nav-height-toggle:                             $nav-height-header;
$nav-height-active:                             3px;

// Font sizes
$default-font-size:                             1.6rem;

// Syntax highlighter
$terminal-window-height:                        3rem;

//
// Other
//

$global-transition-speed:                       .3s;
$nav-transition-speed:                          .4s;
