//
// Typography 
//

$georgia                       : Georgia, serif;
$helvetica                     : Helvetica, Arial, sans-serif;
$helveticaneue                 : 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

$consolas                      : Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$merriweather                  : 'Merriweather', Verdana, serif;
$roboto                        : Roboto, Helvetica, Arial, sans-serif;

$global-font-family            : $roboto;
$header-font-family            : $roboto;
$masthead-font-family          : $merriweather;
$post-meta-font-family         : $roboto;
$code-font-family              : $consolas;

// 
// colors
//

$black                         : #222;
$white                         : #fff;

$gray                          : mix($white, $black, 40%); //#7a8288;
$dark-gray                     : mix($black, $gray, 40%);
$darker-gray                   : mix($black, $gray, 60%);
$light-gray                    : mix($white, $gray, 50%);
$lighter-gray                  : mix($white, $gray, 90%);

$primary-color                : #fff; // in progress..

// Background color
$body-color                   : $white;
$masthead-background-color    : $black;
$code-background-color        : $lighter-gray;
$selection-background-color   : $light-gray;

// Text color
$text-color                   : $darker-gray;
$site-name-color              : $white;
$site-description-color       : $gray;
$code-color                   : $black;
$selection-text-color         : $dark-gray;

$info-color                   : #05bf85; // previous <- #10AFF2

// Links

$link-color                   : $info-color;
$link-text-color              : $white;
$link-color-hover             : mix($black, $link-color, 30%);
$link-color-visited           : mix($white, $link-color, 30%);
$masthead-link-color          : $white;
$masthead-link-color-active   : $info-color;

// Other

$global-transition-speed      : .3s;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
