/*
 * Mixins.
 *
 * This file contains all application-wide Sass mixins.
 */

// clearfix hack
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

/*
 * Media Query Manager.
 *
 * Mobile:                               0 - 600px
 * Tablet portrait:                      600 - 900px
 * Tablet landscape:                     900 - 1200px
 * Where our normal styles apply:        1200 - 1800px
 * Desktop:                              1800px+
 *
 * $breakpoint argument choices:
 * - mobile
 * - tab-port
 * - tab-land
 * - desktop
 *
 * By default 1em = 16px
 */

@mixin breakpoint($class) {
  @if $class == mobile {
    @media only screen and (max-width: 37.5em) { @content; }
  }

  @if $class == tab-port {
    @media only screen and (max-width: 56.25em) { @content; }
  }

  @if $class == tab-land {
    @media only screen and (max-width: 75em) { @content; }
  }

  @if $class == desktop {
    @media only screen and (min-width: 112.5em) { @content; }
  }
}

// divider border style dotted
@mixin divider-border-dotted {
  border-bottom: 1px dotted $color-gray-lighter;
  padding: 2.8rem 0;
}

// divider border style solid
@mixin divider-border-solid {
  border-bottom: 1px solid $color-gray-lighter;
  padding: 2.8rem 0;
}

// clickable links in HTML
@mixin link-colors ($link, $visited, $hover, $active) {
  color: $link;

  &:visited {
    color: $visited;
  }

  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}

// horizontal gradient, from left to right
@mixin gradient-horizontal($start-color, $end-color) {
  background: linear-gradient(to right, $start-color, $end-color);
}
